<div class="row">
  <div class="span4 offset1">
    <h1>Playlists</h1>
  </div>
  <div class="span4 offset2">
    <h1>Playlist Queue</h1>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">

    <br>

    <%= link_to_function '<i class="icon-plus icon-white"></i> New Playlist'.html_safe,
        "playlists_createPlaylist()",
        :class => "btn btn-primary",
        :style => "color: white;"
         %>

    <br>
    <br>
    
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
      <script>
        initPlaylists();
      </script>
      <table class="table table-striped" id="playlists">
      <thead>
        <tr>
          <th width="42%">Playlist Name</th>
          <th width="20%">Songs</th>
          <th width="38%"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <div class="span4 offset2">
    <script>
      initPlaylistQueues();
    </script>
    <table class="table table-striped" id="playlist_queues">
      <thead>
        <tr>
          <th>Order </th>
          <th width="40%">Playlist Name</th>
          <th>Songs</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
