<div class="row">
  <div class="span4 offset1">
    <h1>Playlists</h1>
  </div>
  <div class="span4 offset2">
    <h1>Playlist Queue</h1>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">

    <br>

    <%= link_to_function '<i class="icon-plus icon-white"></i> New Playlist'.html_safe,
        "playlists_createPlaylist()",
        :class => "btn btn-primary",
        :style => "color: white;"
         %>

    <br>
    <br>
    
  </div>
</div>

<div class="row">
  <div class="span5 offset1">
      <script>
        initPlaylists();
      </script>
      <table class="table table-striped" id="playlists"/></table>
  </div>

  <div class="span4 offset1">
    <script>
      initPlaylistQueues();
    </script>
    <table class="table table-striped" id="playlist-queues"/></table>
  </div>
</div>
